@font-face {
	font-family: "Lemon Tuesday";
	src: url("../fonts/lemon-tuesday.otf") format("opentype");
}

html {
	font-size: 16px;
}

body {
	font-family: "Verdana", sans-serif;
}

/* .modal {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;

	width: 500px;
	height: 400px;
	margin-left: -250px;
	margin-top: -300px;

	background-color: darkseagreen;
} */

h1,
h2 {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.container * {
	box-sizing: border-box;
}

header,
section {
	box-sizing: border-box;
}

header {
	background-color: rgb(173, 171, 171);
	padding: 20px;
	height: 10vh;
}

section {
	padding: 20px;
	min-height: 30vh;
}

section .title {
	margin-top: 20px;
	margin-bottom: 10px;
}

header .title {
	text-align: center;
	color: white;
}

.table {
	background-color: lightgrey;
}

.workers {
	width: 85%;
	margin: auto;
	margin-top: 30px;

	border: 10px groove rgb(116, 116, 216);
	border-collapse: collapse;
}

.workers caption {
	margin-bottom: 30px;

	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(21, 143, 112);
}

.workers thead {
	background-color: rgb(90, 90, 179);
	color: #ffffff;
}

.workers tbody {
	background-color: rgb(231, 220, 252);
}

.workers tfoot {
	background-color: rgb(45, 45, 131);
	color: #ffffff;
	text-align: right;
}

.workers th {
	font-size: 17px;
}

.workers td,
.workers th {
	padding: 10px 5px;
	border: 1px solid rgb(13, 13, 236);
}

.position {
	position: relative;
	background-color: lightblue;
}

.position .box-kv {
	background-color: lightcoral;
}

.box-kv .kv {
	width: 100px;
	height: 100px;
}

.box-kv .kv1 {
	background-color: white;
}

.box-kv .kv2 {
	background-color: gold;
}

.box-kv .kv3 {
	background-color: green;
}

.box-model {
	position: relative;
	background-color: lightgray;
}

.psevdo {
	position: relative;
	width: 50%;
	padding: 20px;
	padding-left: 150px;
	background-color: lightyellow;
}

.psevdo::before {
	position: absolute;
	left: 20px;
	top: 10px;
	padding: 10px 15px;

	content: "Внимание!";
	font-weight: bold;
	border-radius: 10px;
	color: blue;
	background-color: gold;
}

.text-block {
	padding: 10px;
	background-color: darkslategrey;
}

.header,
.footer {
	min-height: 50px;
	background-color: darkblue;
}

.columns::after {
	content: "";
	display: table;
	clear: both;
}

.col {
	min-height: 50vh;
	float: left;
}

.col-1 {
	width: 20%;
	background-color: gold;
}

.col-2 {
	width: 50%;
	background-color: green;
}

.col-3 {
	float: right;
	width: 30%;
	background-color: darkslateblue;
}

.footer {
	clear: both;
}

.card-container {
	padding: 10px;
	text-align: left;
	background-color: lightyellow;
}

.card {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	min-height: 100px;
	background-color: gray;
}

.advantages {
	padding: 64px 0;
	font-family: "Montserrat";
	color: #181a16;
}

.advantages .container {
	max-width: 1290px;
}

.advantages .title {
	margin: 0;
	margin-bottom: 58px;

	font-size: 52px;
	line-height: 150%;
	text-align: center;
}

.advantages .item {
	display: flex;
	padding-top: 234px;
	max-width: 386px;

	background-repeat: no-repeat;
	background-position: center 0;
}

.advantages .item-one {
	background-image: url("../img/icon-hand.png");
}

.advantages .item-two {
	background-image: url("../img/icon-diplom.png");
}

.advantages .item-three {
	background-image: url("../img/icon-money.png");
}

.advantages-items {
	display: flex;
	justify-content: space-between;
}

.advantages-items p {
	margin: 0;

	font-size: 24px;
	font-weight: 600;
	line-height: 150%;
	text-align: center;
}

.fonts {
	background-color: lightyellow;
}

.fonts h3 {
	font-family: "Lemon Tuesday", decorative;
}

.text-normal {
	font-family: "Tahoma", sans-serif;
}

.text-google {
	font-family: 'Oswald', sans-serif;
}

.text-decorative {
	font-family: "Lemon Tuesday", decorative;
}

@media (min-width: 991px) and (max-width: 1290px) {
	.advantages .title {
		font-size: 40px;
	}

	.advantages .item {
		padding-top: 180px;
		background-size: 150px;
	}

	.advantages-items p {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.advantages .title {
		margin-bottom: 45px;
		font-size: 30px;
	}

	.advantages .item {
		padding-top: 120px;
		background-size: 100px;
	}

	.advantages-items p {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.advantages-items {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-height: 620px;
	}

	.advantages .title {
		margin-bottom: 25px;
		font-size: 20px;
	}
}

@media (max-width: 479px) {
	.advantages .title {
		font-size: 18px;
	}
}