
body{
    margin: 0;
    padding: 0;
}
/* header{ */
    /* margin: 44px auto;
    max-width: 85%;
    display: flex;
    /* -ms-align-items: center; */
    /*align-items: center; */

    /* padding-top: 22px;
    padding-bottom: 20px; */

/* } */
.navbar{
    padding-top: 5rem; 
    padding-bottom: 0;
}
.container-fluid{
    display: flex;
    position: fixed;
     /* -ms-align-items: center; */
    align-items: center;

    height: 80px;
    z-index: 2000;
    top: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
    transition: background-color .3s linear;
    background-color: rgb(14 8 8/ 92%)
}
/* .carousel {
    height: 550px !important;
}
.carousel-inner img {
    height: 550px !important;
    
} */
h5{
    font-size: 25px;
    color: rgb(247, 73, 4);
    font-weight: bold;
}
.carousel-caption p{
    font-size: 22px;
}
/* .eternal{
    display: flex;
    align-items: center;
width: 99%;
    height: 80px;
    z-index: 2000;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
    transition: background-color .3s linear;
    background-color: rgb(24 11 11 / 50%) 
}
.main-container{
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;

    list-style-type: none; /*убрать точечки*/
/*    font-weight: bold;
    transition: color 0.5s ease;
  
}*/
.logo{
    /* display: inline-block; */
    max-width: 80px;

    margin-right: 50px; 
    margin-left: 15px;
    vertical-align: middle;
}
.navbar-brand{
    color: rgba(28, 223, 197, 0.9) !important;
    font-weight: bold;
    position: relative;
    
}
.navbar-brand:hover{
    color: rgb(5, 194, 252) !important;
    font-size: 22px;
}

.nav-link{
    color: rgba(28, 223, 197, 0.9) !important;
    font-weight: bold;
    font-size: 1.25rem;
     
}
.nav-link:hover{
    color: rgb(5, 194, 252) !important;
    font-size: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link {padding-left: 5rem;
}
.navbar-toggler {
    background-color: rgb(35, 163, 202);
}
/* .menu-list{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */

    /* font-size: 20px;
    text-transform: uppercase;

    list-style-type: none; /*убрать точечки  
} */

.menu-list li{
    display: inline-block;
    margin-right: 55px; /*растояние между словами*/

}
.menu-list li a{
    display: block;
    text-decoration: none; /*убрать подчеркивание*/
    color: turquoise;

}
.menu-list li a:hover{ /*при наведении*/
    color: rgb(18, 74, 158);
    font-size: 17px;
}
.btn-call{
    box-sizing: content-box;
    width: 15%;


    align-items: center;
    font-size: 18px;
    background-color: rgb(170, 140, 170);
    color: black;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    /* margin-bottom: 15px; */
    margin-right: 15px;
}   
.btn-call:hover{
    background-color: burlywood;

}
.btn-call:active{
    background-color: crimson;
}

.service{
    background-image: url(../imgP/bg-servises.jpg);
   
}
.headService{
    font-size: 30px;
    color: cornflowerblue;
    text-align: center;
    padding: 15px;
}
.card{
    margin-bottom: 30px;
          /* max-height: 100%; */
    border-bottom: 2px solid #220303;
    background: rgb(82, 50, 50) !important;
}   
.card:hover{
    color: rgb(243, 239, 239);
    margin: 5px;
    transition: filter 0,5s linear;
    filter: brightness(1) grayscale(2) opacity(0.5);
}
.card-title{
    text-align: center;
    font-size: 20px;
    color: rgb(220, 209, 231);
    
}
.card-img-top{
    max-height: 300px;
}

.card-body p{
    text-align: center;
    font-size: 16px;
    color: burlywood;
}
.ritual{
    background-image: url(../imgP/bg-rit2.jpg);
 
background-size: 100% auto;
}
.ritual-container {
    overflow: hidden;
    position: relative;
    padding-bottom: 5rem;
}
.ritual-container li {
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.ritual-container li a {
    display: block;
    padding: 0px;
    margin: 0px;
}
.ritual-container li a img {
    max-width: none;
    height: 500px; /* Высота фотографий */
}
.ritual-container li span.overlay {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.vid-rituala{
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: bold;
    min-height: 75px;
    align-items: center;
    color: rgb(212, 208, 228);
    left: 0px;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    font-size: 30px;
    /* margin: 0;   */
    background-color: rgb(18 18 18 / 50%) !important;

    transition: 1s; /* Время эффекта */
    text-align: center;
}
.vid-rituala:hover{
    color: burlywood;
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.product{
    background-image: url(../imgP/bg-product.jpg);
    padding-bottom: 5rem;
}
.wave_inner {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.wave {
    margin: 20px;
    animation: wave ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
}
.wave:hover {
    animation-play-state: paused;
}
.wave img {
    border: 5px solid #BFE2FF;
    display: block;
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.wave figcaption {
    text-align: center;
    background: #BFE2FF;
    padding: 5px 5px 10px 5px;
    font-family: Verdana, sans-serif; 
    font-weight: bold;   
}
 .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 2px solid #337AB7;
    top: -10px; 
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.wave:before {
    content: url(../imgP/derjatel.png);
    position: absolute;
    top: -45px;
    left: 48%;
    display: block;
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px rgba(0,0,0,0);
    z-index: 16;
}   

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(41, 40, 37);
    color: white;
    text-align: center;
}

.widget-social{
    list-style: none;
    display: inline-block;
}
.widget-social li a:hover{
    color:turquoise;
    font-size: 20px;

}


@keyframes wave {
    0% { 
        transform: rotate(3deg); 
        box-shadow: 6px 8px 22px rgba(0,0,0,0.3), 12px 16px 24px rgba(0,0,0,0.2);
    }
    100% { 
        transform: rotate(-3deg); 
        box-shadow: -6px 8px 22px rgba(0,0,0,0.3), -12px 16px 24px rgba(0,0,0,0.2);
    }
}

@media  (min-width: 576px) and (max-width: 992px){
    .ritual-container li a img    {
height: 300px;
width: 300px;

    }
}
@media  (min-width: 576px) and (max-width: 992px){
    .vid-rituala{
      font-size: 15px;  
      min-height: 70px;
     
    }
}

@media  (min-width: 320px) and (max-width: 575px){
    .ritual-container li a img    {
        height: 150%;
        width: 150%;
    }
}
@media  (min-width: 320px) and (max-width: 575px){
    .vid-rituala{
        font-size: 12px;  
        min-height: 50px;
       
      }
}
@media  (min-width: 320px) and (max-width: 575px){
    .ritual-container{
        height: 200px;
        min-width: 60%200px;
    }
}
@media  (min-width: 320px) and (max-width: 575px){
.ritual-container li span.overlay{
height: 200px;
width: 200px;
}
}